body{
    margin: 0;
    padding: 0;
    font-size: 25px;
}


 /* Posizionamento logo */
header img{
    width: 250px;
    margin-top: 35px;
    margin-left: 15px;

}

    /* Sfondo Booleaner */
header{
    background-color: rgb(64, 139, 255);
    background-image: url("../img/pattern.png");
    height: 120px;
    background-size: contain;
}

main,footer{
    margin:0 200px;
}

h1{
    font-size: 65px;
    margin-bottom: 0;
}

h3{
    color: grey;
    margin-top: 0;
    font-weight: 600;
}

#autori{
    color: rgb(47, 160,225);
}

#data-articolo{
    font-size: 18px;
}

main img{
  height: 100%;
}

    /* Testo in piccolo */
#intestazioni-foto{
    font-size: 20px;
}

.evidenziato{
    background-color: #FFFF00;
}
    
ul{
    margin-top: 60px;
    margin-bottom: 60px;
}

/* allineamento e spazio tra le celle */
table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

/* lunghezza massima della cella */
td{
   max-width: 400px;
}

    /* sfondo intestazione tabella */
th{
    background-color: rgb(31, 152, 223);
}

    /* stondo differente dispari per la tabella */
tr:nth-child(odd) { 
    background-color: rgb(164, 224 ,238); 
}
footer{
    margin-top: 20px;
}

footer div{
    position: relative;
}
    /* allineamento immagine verticalmente */
 footer img{
    display: block;
    padding-bottom: 20px;
 }
    /* sovrapposizione del testo sull'immagine */
 footer span{
    color: white;
    position: absolute;
    top: 20px;
    left: 10px;
    display: block;
    font-weight: 800;
    font-size: 30px;
 }